@import "node_modules/foundation-sites/scss/foundation";
@import "bower_components/open-sans-fontface/open-sans";

body, html {
  margin: 0;
  border: 0;
  font-family: 'Open Sans', sans-serif;

  *, *:before, *:after {
    box-sizing: border-box;
  }
}

.fw100, .fw100 * {
  font-weight: 100;
}

h1 {
  margin: 0;
  padding: 0;
}

h2 {
  font-size: 39px;
}

.top-bar {
  .title-area {
    padding-left: 10px;

    h1 {
      color: #ffffff;
      font-size: 28px;
    }
  }
}

#menu.right {
    a {
      font-size: 16px;
    }
}

.full-width {
  width: 100%;
}

.bg-variant {
  background: #dee4e6;
}

.banner-image img {
  width: 100%;
}
