@import "bower_components/foundation/scss/foundation";
@import "bower_components/open-sans-fontface/open-sans";

body, html {
  margin: 0;
  border: 0;
  font-family: 'Open Sans', sans-serif;

  *, *:before, *:after {
    box-sizing: border-box;
  }
}

.fw100, .fw100 * {
  font-weight: 100;
}

.text-center, .text-center * {
  text-align: center;
}

h1, h2, h3, h4, h5, ul, li, a, p {
  font-family: 'Open Sans', sans-serif;
}

h1 {
  margin: 0;
  padding: 0;
}

h2 {
  font-size: 34px;
}

ul, li {
  padding: 0;
  margin: 0;
}

ul {
  margin-left: 1.1rem;
}

p {
  font-family: inherit;
  font-size: 1rem;
  font-weight: normal;
  line-height: 1.3;
  margin-bottom: 1.25rem;
  text-rendering: optimizeLegibility;
}

.top-bar {
  .title-area {
    padding-left: 10px;

    h1 {
      color: #ffffff;
      font-size: 28px;
    }
  }

  .top-bar-section {
    .menu {
      li > a {
        font-family: 'Open Sans', sans-serif;
        font-weight: 100;
      }
    }
  }
}

.row:before, .row:after {
  content: " ";
  display: table;
}

.row:after {
  clear: both;
}

.menu.right {
    a {
      font-size: 16px;
    }
}

.full-width {
  width: 100%;
}

.bg-variant {
  background: #dee4e6;
}

.bg-variant-dark {
  background: #57666d;
}

.banner-image img {
  width: 100%;
}

.banner-info h2 {
  margin-top: 20px;
  margin-bottom: 20px;
}

.info {
  ul {
    padding-top: 5rem;
  }

  li:before {
    content: "";
    display: block;
    height: 80px;
    width: 70px;
    margin: 0 auto;
  }

  li {
    list-style-type: none;
    padding-bottom: 5rem;
  }

  .native-app:before {
    background: url('/img/mobile.svg') no-repeat top left;
    background-size: 100%;
  }

  .scalable:before {
    background: url('/img/scale.svg') no-repeat top left;
    background-size: 100%;
  }

  .latest:before {
    background: url('/img/latest.svg') no-repeat top left;
    background-size: 100%;
  }

  .opensource:before {
    background: url('/img/opensource.svg') no-repeat top left;
    background-size: 100%;
  }

  .security:before {
    background: url('/img/security.svg') no-repeat top left;
    background-size: 100%;
  }

  .support:before {
    background: url('/img/support.svg') no-repeat top left;
    background-size: 100%;
  }
}

.footer {
  min-height: 5.5rem;
  padding-top: 2.375rem;
  color: #ffffff;

  p {
    font-size: 12px;
  }
}
