extends layout

block content
    div.container
        div.full-width.bg-variant
            div.row.error
                h2="Sorry, something has gone wrong."
                h3=error.status + " - " + message
